@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {font-family: 'Roboto';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#frame15 {
  background: #FFFFFF;
}

#frame16 {
  background: #1a1b1a;
}

#frame16 div,
#frame16 span,
#frame16 .Auto_layout_introplacer p {
  color: #FFFFFF;
  border-color: #FFFFFF;
  font-size: 14px;
}

#frame16 .Polygon2-b {
  background: #FFFFFF;
}

/* fix in phase 2 
.float-info-box {   
  position: absolute;
  width: 300px;
  height: 120px;
  left: 100px;
}

.AllowCamera {
  position: absolute;
  width: 300px;
  height: 100px;
  background: #1A1B1C;
}

.floatline {
  position: absolute;
  width: 300px;
  height: 3px;
  background: #FCFCFC;
  top: 62px;
}

.Autolayout_yes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 16px 10px;
  gap: 8px;
  position: absolute;
  width: 80px;
  height: 35px;
  top: 65px;
  left: 220px;
  background: #1A1B1C;
}

.Allow {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FCFCFC;
}

.Autolayout_no {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 9px 16px 10px;
  gap: 8px;
  position: absolute;
  width: 68px;
  height: 35px;
  top: 65px;
  left: 152px;
  background: #1A1B1C;
}

.Deny {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FCFCFC;
  opacity: 0.6;
  cursor: pointer;
}

.float-info-text {
  position: absolute;
  top: 10px;
  left: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FCFCFC;
}
*/

.dimmed, .camera-ui.dimmed {
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.setup {
  position: absolute;
  top: 470px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.camerainfo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.info1 {
  display: flex;
}

.extrainfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.extrainfo1, .extrainfo2, .exrtainfo3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.info1, .info2, .info3, .info4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1A1B1C;
}

.s-box{
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: 1px solid #1A1B1C;
  transform: rotate(-45deg);
}

.camera-ui.active {
  opacity: 1;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#frame16 .Auto_layout_back_button-icon-text-shrunk {
  position: absolute;
  left: 10%;
  margin: 0px;
}
.takepic-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  position: absolute;
  right: 10%;
}

.takepic-text {
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  opacity: 0.8;
}

.w-screen{
  width: 100vw;
}

.h-screen {
  height: 100vh;
}


.Shot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Shotg {
  position: absolute;
  top: 15%;
  font-weight: 400;
  font-size: 40px !important;
}

.Shotp {
  font-weight: 400;
  font-size: 40px !important;
}

.useShot, .tryAgain{
  gap: 8px;
  position: relative;
  margin-top: 16px;
  justify-content: center
}

.useShot {
  width: 29%;
  height: 40px;
  padding: 9px 16px 10px;
  background: #1A1B1C;
  border:1px solid #FFFFFF;
  cursor: pointer;
}

.tryAgain {
  width: 29%;
  height: 40px;
  padding: 10px 16px;
  background: #FFFFFF;
}

.Shots, .Shotr{
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}

.Shots {
  color: #FCFCFC;
}

.Shotr{
  color: black ; 
  cursor: pointer;
}

.loader-screen {
  background-color: #1A1B1C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;

}

@media (max-width: 1440px) {
  .diamond-wrapper {
    left: 1210px;
  }
}

@media (max-width: 1024px) {
  .camerainfo {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .float-info-box {
    height: 100px;
    top: 10px;
    left: 120px;
  }

  .setup {
    top: 360px;
  }

  .info1, .info2, .info3, .info4 {
    font-size: 19px;
  }


  .Shots, .Shotr {
    text-align: center;
  }

  .loader-screen {
    font-size: 20px;
    padding: 20px;
  }
}

@media (max-width: 425px) {
  #frame16 .Auto_layout_center_button-simple {
    left: 300px;
  }

  .float-info-box {
    left: -90px;
  }

  .setup {
    top: 350px;
  }

  .camerainfo {
    margin-bottom: 10px;
  }

  .extrainfo {
    gap: 0px;
    margin-left: 20px;
  }

  .s-box {
    width: 17px;
    height: 15px;
  }
    
  .info1, .info2, .info3, .info4 {
    font-size: 16px;
  }

  video {
    transform: rotate(90deg);
  }

  .picture {
    align-items:flex-start;
  }

  .takepic-button img{
    transform: rotate(0deg);
  }

  .Shot {
    top: 140px;
  }

  .useShot,
  .tryAgain {
    width: 100%;
    height: 38px;
  }

  .Shots, .Shotr {
    font-size: 12px;
  }

  .loader-screen {
    font-size: 18px;
    padding: 15px;
  }
}