@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

#frame16 body, html {
  overflow-y: hidden;
}

#frame15 {
  background: #FFFFFF;
}

#frame16 {
  background: #1a1b1a;
}

#frame16 div,
#frame16 span,
#frame16 .Auto_layout_introplacer p {
  color: #FFFFFF;
  border-color: #FFFFFF;
  font-size: 14px;
}

#frame16 .Polygon2-b {
  background: #FFFFFF;
}

.float-info-box {
  display: flex;
  align-items: center;
}

.AllowCamera {
  width: 300px;
  height: 100px;
  background: #1A1B1C;
}

.floatline {
  display: flex;
  margin-top: 12%;
  width: 300px;
  height: 3px;
  background: #FCFCFC;
}

.yesOrno {
  display: flex;
  justify-content: end;
}

.Autolayout_yes, .Autolayout_no {
  padding: 9px 16px 10px;
  background: #1A1B1C;
}

.Allow, .Deny {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FCFCFC;
}

.Deny {
  opacity: 0.6;
  cursor: pointer;
}

.float-info-text {
  display: flex;
  justify-self: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FCFCFC;
}

.dimmed, .camera-ui.dimmed {
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.setup {
  position: absolute;
  top: 470px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.camerainfo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.info1 {
  display: flex;
  align-items: center;
  text-align: center;
}

.extrainfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.extrainfo1, .extrainfo2, .exrtainfo3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.info1, .info2, .info3, .info4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1A1B1C;
}

.s-box{
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: 1px solid #1A1B1C;
  transform: rotate(-45deg);
}

.camera-ui.active {
  opacity: 1;
}

.picture, .selectionfooter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#frame16 .Auto_layout_back_button-icon-text-shrunk {
  position: absolute;
  left: 10%;
  margin: 0px;
}

.takepic-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  position: absolute;
  right: 10%;
}

.takepic-text {
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  opacity: 0.8;
}

video {
  width: 100%;
  height: 115.5vh;
}

#frame16 img{
  width: 100%;
  height: 100%;
}

.Shot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Shotg {
  position: absolute;
  color: gray;
  top: 15%;
  font-weight: 400;
  font-size: 40px !important;
}

.Shotp {
  font-weight: 400;
  font-size: 40px !important;
}

.useShot, .tryAgain{
  position: absolute;
  margin-top: 16px;
}

.useShot {
  width: 29%;
  height: 40px;
  padding: 9px 16px 10px;
  background: #1A1B1C;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  right: 20%;
  bottom: 1%;

}

.tryAgain {
  width: 29%;
  height: 40px;
  padding: 10px 16px;
  background: #FFFFFF;
  left: 20%;
  bottom: 1%;
}

.Shots, .Shotr{
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}

.Shots {
  color: #FCFCFC;
}

.Shotr{
  color: black ; 
  cursor: pointer;
}

.loader-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;

}

@media (max-width: 1440px) {
  .diamond-wrapper {
    left: 1210px;
  }
}

@media (max-width: 1024px) {
  .camerainfo {
    margin-bottom: 30px;
  }

  .useShot {
    bottom: 16%;
  }

  .tryAgain {
    bottom: 16%;
  }
}

@media (max-width: 768px) {
  .setup {
    top: 360px;
  }

  .info1, .info2, .info3, .info4 {
    font-size: 19px;
  }

  .Shots, .Shotr {
    text-align: center;
  }

  .loader-screen {
    font-size: 20px;
    padding: 20px;
  }

  .useShot {
    bottom: 35%;
  }

  .tryAgain {
    bottom: 35%;
  }
}

@media (max-width: 425px) {
  #frame16 .Auto_layout_center_button-simple {
    left: 300px;
  }

  .float-info-box {
    margin-right: 50%;
  }

  .setup {
    top: 350px;
  }

  .camerainfo {
    margin-bottom: 10px;
  }

  .extrainfo {
    gap: 0px;
    margin-left: 20px;
  }

  .s-box {
    width: 17px;
    height: 15px;
  }
    
  .info1, .info2, .info3, .info4 {
    font-size: 16px;
  }

  .picture {
    align-items:flex-start;
  }

  .takepic-button img{
    transform: rotate(0deg);
  }

  .Shot {
    top: 140px;
  }

  .Shots, .Shotr {
    font-size: 12px;
  }

  .loader-screen {
    font-size: 18px;
    padding: 15px;
  }

  .useShot {
    bottom: 58%;
  }

  .tryAgain {
    bottom: 58%;
  }
}

@media (max-width: 320px) {
   .float-info-box {
    margin-right: 46%;
  }

  .useShot {
    bottom: 65%;
  }

  .tryAgain {
    bottom: 65%;
  }
}