@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {font-family: 'Roboto';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#frame9, #frame12, #frame13 {
  position: relative;
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  background: #FFFFFF;
}

.Scan {
  position: absolute;
  width: 493px;
  height: 452.55px;
  left: 217px;
  top: 155.65px;
}

.rombuses-l {
  position: absolute;
  width: 320px;
  height: 320px;
  left: 10%;
  top: 20%; 
}
    
.Rectangle18-l, .Rectangle18-r{
  position: absolute;
  width: 148px;
  height: 148px;
  left: 32%;
  top: 19%;
  border: 2px dashed #A0A4AB;
  transform: rotate(45deg);
  animation: spin 10s linear infinite
}
 @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.Rectangle10-l, .Rectangle10-r {
  position: absolute;
  width: 181px;
  height: 181px;
  left: 27%;
  top: 14%;
  opacity: 0.6;
  border: 2px dashed #A0A4AB;
  border-radius: 0px;
  transform: rotate(45deg);
  animation: spin 20s linear infinite
}
 @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.Rectangle17-l, .Rectangle17-r {
  position: absolute;
  width: 213px;
  height: 213px;
  left: 22%;
  top: 9%;
  opacity: 0.3;
  border: 2px dashed #A0A4AB;
  transform: rotate(45deg);
  animation: spin 30s linear infinite
}
 @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
    
.line-l {
  position: absolute;
  width: 100px;
  height: 93.34px;
  left: 490px;
  top: 255px;
}
    
.image-l {
  position: absolute;
  width: 116px;
  height: 116px;
  left: 385px;
  top: 322px;
}

.AccessScantext {
  position: absolute;
  width: 117px;
  height: 40px;
  left: 592px;
  top: 248px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.07em;
  text-transform: uppercase;   
  color: #1A1B1C;
}

.image-r {
  position: absolute;
  width: 136px;
  height: 136.88px;
  left: 1000px;
  top: 312px;
}

.AccessGallerytext {
  position: absolute;
  width: 127px;
  height: 30px;
  left: 795px;
  top: 512px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.line-r {
  position: absolute;
  width: 99px;
  height: 99px;
  left: 925px;
  top: 417px;
}

.rombuses-r {
  position: absolute;
  width: 320px;
  height: 320px;
  left: 19%;
  top: 20%; 
}

.Loading2 {    
  position: absolute;
  top: 350px;
  left: 634px;
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: -0.07em;
  text-align: center;
  color: #1A1B1C;   
}

.Gallery {
  position: absolute;
  width: 493px;
  height: 452.55px;
  left: 800px;
  top: 155.65px;
}

.Preview {
  position: absolute;
  width: 128px;
  height: 152px;
  left: -28px;
}

.Preview-text {
  position: absolute;
  width: 54px;
  height: 16px;
  left: 1473px;
  top: 138px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.Preview-border {
  box-sizing: border-box;
  position: absolute;
  width: 128px;
  height: 128px;
  left: 1436px;
  top: 162px;
  border: 1px solid #1A1B1C;
}

.Preview-img {
  box-sizing: border-box;
  position: absolute;
  width: 126px;
  height: 126px;
}

.AI_Analysis {
position: absolute;
width: 161px;
height: 20px;
left: 100px;
top: 98px;
font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #1A1B1C;
}

.AI_text {
  position: absolute;
  width: 296px;
  height: 58px;
  left: 100px;
  top: 132px;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1A1B1C;
}

.Polygon2-s {
  position: absolute;
  width: 9.43px;
  height: 10.89px;
  left: 129px;
  top: 17px;
  background: #1A1B1C;
  transform: rotate(90deg);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.Auto_layout_summary_button-icon-text-shrunk {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  position: absolute;
  left: 130px;
  top: 656px;
}
.Analysis { 
position: absolute;
width: 447.37px;
height: 442.37px;
left: 550px;
top: 166px;
}

.Demograpghics_option{
position: absolute;
width: 153px;
height: 153px;
left: 166px;
top: 32px;
background: #D2D2D2;
transform: rotate(-45deg);
cursor: pointer;
}

.Demograpghics_text {
position: absolute;
width: 130px;
height: 16px;
left: 180px;
top: 100px;
font-weight: 600;
font-size: 16px;
line-height: 16px;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #1A1B1C;
cursor: pointer;
}

.Skin_Type_option {
position: absolute;
width: 153px;
height: 153px;
left: 50px;
top: 145px;
background: #E5E5E5;
transform: rotate(-45deg);
cursor: not-allowed;
}

.Skin_Type_text {
position: absolute;
width: 76px;
height: 40px;
left: 88px;
top: 200px;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #1A1B1C;
cursor: not-allowed;

}

.Cosmetic_Concerns_option {
position: absolute;
width: 153px;
height: 153px;
left: 280px;
top: 145px;
background: #E5E5E5;
transform: rotate(-45deg);
cursor: not-allowed;
}

.Cosmetic_Concerns_text {
position: absolute;
width: 82px;
height: 40px;
left: 320px;
top: 200px;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #1A1B1C;
cursor: not-allowed;

}

.Weather_option {
position: absolute;
width: 153px;
height: 153px;
left: 165px;
top: 260px;
background: rgba(229, 229, 229, 0.933333);
transform: rotate(-45deg);
cursor: not-allowed;
}

.Weather_text {  
position: absolute;
width: 72px;
height: 16px;
left: 205px;
top: 325px;
font-weight: 600;
font-size: 16px;
line-height: 16px;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #1A1B1C;
cursor: not-allowed;
}

.Analysis_text {
  position: absolute;
  width: 102px;
  height: 24px;
  left: 100px;
  top: 75px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.Demographics_title {
  position: absolute;
  width: 500px;
  height: 64px;
  left: 94px;
  top: 105px;
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.Predicted_text {
  position: absolute;
  width: 154px;
  height: 24px;
  left: 100px;
  top: 180px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1A1B1C;
}

.Demographics_box {
  position: absolute;
  width: 1120px;
  height: 450px;
  left: 30px;
  top: 194px;
}

.Analysis_results {
  position: absolute;
  width: 200px;
  height: 332px;
  left: 30px;
  top: 20px;   
}

.race_results {
  position: absolute;
  width: 200px;
  height: 105px;
  left: 20px;
}

.race_rectangle {
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 105px;
  border-top: 1px solid #1A1B1C;
  cursor: pointer;
}

.race {
  position: absolute;
  width: 88px;
  height: 16px;
  left: 13px;
  top: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.race_text {
  position: absolute;
  width: 30px;
  height: 16px;
  left: 14px;
  top: 70px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.age_results {
  position: absolute;
  width: 200px;
  height: 105px;
  top: 120px;
  left: 20px;
}

.age_rectangle {
  position: absolute;
  width: 200px;
  height: 105px;
  border-top: 1px solid #1A1B1C;
  cursor: pointer;

}

.age {
  position: absolute;
  width: 42px;
  height: 16px;
  left: 15px;
  top: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.age_text {
  position: absolute;
  width: 30px;
  height: 16px;
  left: 15px;
  top: 70px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.gender_results {
  position: absolute;
  width: 200px;
  height: 105px;
  top: 250px;
  left: 20px;
}

.gender_rectangle {
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 105px;
  border-top: 1px solid #1A1B1C;
  cursor: pointer;

}

.gender {
  position: absolute;
  width: 59px;
  height: 16px;
  left: 15px;
  top: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.gender_text {
  position: absolute;
  width: 29px;
  height: 16px;
  left: 15px;
  top: 70px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.selected.race_results,
.selected.age_results,
.selected.gender_results {
background-color: #1A1B1C;
color: white;
}

.Demographics_rectangle_results {
  position: absolute;
  width: 900px;
  height: 430px;
  left: 260px;
  top: 20px;
}

.Demographics_rectangle_box {
  box-sizing: border-box;
  position: absolute;
  width: 900px;
  height: 430px;
  background: #F3F3F4;
  border-top: 1px solid #1A1B1C;
}

.Demographics_rectangle_title {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 25px;
  top: 25px;
  font-weight: 300;
  font-size: 32px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.Demographics_graph {
  position: absolute;
  width: 401px;
  height: 384px;
  left: 500px;
}

.Graph {
  position: absolute;
  width: 401px;
  height: 384px;
  top: 37px;
}


.progress-ring {
  transform: rotate(-90deg);
  box-sizing: border-box;
  position: absolute;
  width: 384px;
  height: 384px;
  top: 30px;
}

.progress-ring__background,
.progress-ring__circle {
  transition: stroke-dashoffset 0.6s ease;
}

.Demographics_graph_results {
  position: absolute;
  width: 76.65px;
  height: 51.96px;
  left: 170px;
  top: 170px;
}

.Demographics_graph_results_text {
  position: absolute;
  width: 80px;
  height: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.05em;
  color: #1A1B1C;
}

.confidence_results {
  position: absolute;
  width: 350px;
  height: 430px;
  left: 1175px;
  top: 20px;
}

.confidence_box {
  box-sizing: border-box;
  width: 350px;
  height: 430px;
  background: #F3F3F4;
  border-top: 1px solid #000000;
}

.confidence_tag_box {
  position: absolute;
  width: 350px;
  height: 48px;
}

.confidence_tag_rectangle {
  position: absolute;
  width: 350px;
  height: 48px;
  background: #F3F3F4;
}

.confidence_catagory {
  position: absolute;
  width: 71.87px;
  height: 26px;
  top: 15px;
  left: 14px;
  font-weight: 300;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.05em;
  color: #1A1B1C;
  text-transform: uppercase;
}

.aiConfidence_text {
  position: absolute;
  width: 124px;
  height: 24px;
  top: 15px;
  left: 215px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.confidence_tag {
  padding-top: 60px;
}

.confidence-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.confidence-row.selected {
  background-color: black;
  color: white;
  font-weight: bold;
}

.confidence_text {
  text-transform: uppercase;
}

.selectionText {
  position: absolute;
  width: 317px;
  height: 24px;
  left: 650px;
  top: 700px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #A0A4AB;
}

.Polygon2-h {
  position: absolute;
  width: 9.43px;
  height: 10.89px;
  left: 78px;
  top: 17px;
  background: #1A1B1C;
  transform: rotate(90deg);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

@media (max-width: 768px) {
  #frame9, #frame12, #frame13 {
    width: 100%;
    max-height: 660px;
    padding: 20px;
    overflow: hidden;
  }
  
  #frame13 a,
  #frame9 a {
    display:block;
    width: 1px;
    height: 1px;
  }

  .Scan, .Gallery {
    position: relative;
    left: 10%;
    top: 20px;
    width: 80%;
    height: auto;
  }

  .rombuses-l, .rombuses-r {
    position: relative;
    width: 200px;
    height: 200px;
    top: 5%;
    left: auto;
    margin: 0 auto;
  }

  .Rectangle10-l, .Rectangle10-r,
  .Rectangle17-l, .Rectangle17-r,
  .Rectangle18-l, .Rectangle18-r {
    width: 100px;
    height: 100px;
  }

  .line-l, .line-r{
    display: none;
  }

  .AccessScantext, .AccessGallerytext {
    position: relative;
    top: 10px;
    left: 5%;
    width: 90%;
    font-size: 14px;
    text-align: center;
  }

  .image-l {
    position: absolute;
    left: 340px;
    top: 80px;
  }

  .image-r {
    position: absolute;
    left: 330px;
    top: 310px;
  }

  .Loading2 {
    font-size: 32px;
    position: relative;
    top: -200px;
    text-align: center;
    left: 35px;
  }

  .AI_text, .AI_Analysis {
    font-size: 18px;
    position: relative;
    left: 5%;
    width: 90%;
    text-align: center;
  }

  .Auto_layout_summary_button-icon-text-shrunk {
    position: relative;
    top: 40px;
    left: 0;
    width: 90%;
  }

  .Preview, .Preview-text, .Preview-border, .Preview-img {
    display: none;
  }

  .Analysis {
    width: 90%;
    height: auto;
    position: relative;
    left: 5%;
    top: 100px;
  }

  .Polygon2-s {
  left: 159px;
  }

  .Analysis_text,
  .Demographics_title,
  .Predicted_text,
  .Demographics_rectangle_results,
  .Demographics_rectangle_title,
  .Demographics_graph,
  .Demographics_graph_results,
  .Demographics_box,
  .Analysis_results,
  .race_results,
  .age_results,
  .gender_results {
    position: relative;
  }
  
  .Demographics_box {
    top: 0;
    width: 660px;
    height: 450px;
  }

  .Analysis_results {
    display: flex;
    width: 600px;
    height: 130px;
    gap: 10px;
    top: 0;
  }
  
  .race_results,
  .age_results,
  .gender_results {
    left: 0px;
    top: 0px;
  }

  .race_rectangle,
  .age_rectangle,
  .gender_rectangle {
    width: 193px;
    
  }
  
  .Demographics_rectangle_results {
    background-color: #F3F3F4;
    top: 0;
    left: 0;
    width: 340px;
    height: 200px;
  }
  .Demographics_rectangle_box {
    height: 200px;
    width: 340px;
  }
  .Demographics_rectangle_title {
    text-align: center;
    left: 27px;
  }
  
  .Demographics_graph {
    width: 340px;
    height: 200px;
    left: 0; 
  }
  
  .Demographics_graph_results{
    top: 0;
  }
  
  .Demographics_graph_results_text{
    top: 50px;
    text-align: center;
    right: 40px;
  }

  .Graph{
    top: 0;
    width: 340px;
    height: 200px;
  }

  .progress-ring,
  .progress-ring__background,
  .progress-ring__circle {
    display: none;
  }

  .confidence_results {
    background-color: #F3F3F4;
    top: 107px;
    left: 350px;
    height: 412px;
  }

  .confidence_box {
    height: 412px;
  }

  #frame13 .Auto_layout_back_button-icon-text-shrunk {
    left: 50px;
  }

  #frame13 .Auto_layout_proceed_button-icon-text-shrunk {
    left: 240px;
    top: 577px;
  }

  #frame12 .Auto_layout_back_button-icon-text-shrunk {
    top: 110px;
  }

  .selectionText {
    top: 60px;
    left: 250px;
  }

  .Demographics_title {
    font-size: 32px;
    top: 29px;
    text-align: center;
  }

  .Predicted_text {
    top: -15px;
    left: 500px;
  }
  
  .Demographics_rectangle_title {
    font-size: 20px ;
  }
}

@media (max-width: 425px) {
  #frame13 {
    overflow-y: scroll;
  }

  .Scan, .Gallery {
    width: 90%;
    left: 2px;
    top: 90px;
    padding: 8px;
  }

  .AccessScantext, .AccessGallerytext {
    font-size: 12px;
    width: 100%;
    left: 0;
    top: 50px;
    text-align: center;
  }

  .AI_text, .AI_Analysis {
    font-size: 14px;
    width: 95%;
    left: 2.5%;
    top: 37px;
    text-align: center;
  }

  .Auto_layout_summary_button-icon-text-shrunk {
    width: 95%;
    margin: 15px auto 0;
    top: 25px;
  }

  .Analysis {
    top: 25px;
    left: -45px;
  }

  .image-l {
    left: 150px;
    top: 160px;
  }

  .image-r {
    left: 140px;
    top: 410px;
  }

  .Loading2 {
    font-size: 32px;
    position: relative;
    top: -200px;
    text-align: center;
    left: 1px;
  }

  .Preview, .Preview-text, .Preview-border, .Preview-img {
    display: none;
  }

  .Polygon2-s {
   left: 120px ;
  }

  #frame12 .Auto_layout_back_button-icon-text-shrunk {
    top: 595px;
  }

  #frame13 .Auto_layout_back_button-icon-text-shrunk {
    top: 480px;
  }

  .Analysis_text{
    left: 150px;
  }

  .Demographics_title {
    font-size: 32px;
    top: 70px;
    width: 220px;
  }

  .Predicted_text {
    top: 70px;
    left: 130px
  }

  .Analysis_results {
    display:inline;
  }

  .Demographics_rectangle_results {
    background-color: #F3F3F4;
    top: 20px;
    width: 280px;
    height: 300px;
  }

  .Demographics_box {
    top: 100px;
    width: 260px;
    height: 450px;
    left: 70px;
  }

  .Demographics_rectangle_box {
    width: 280px;
    height: 300px;
  }

  .Demographics_rectangle_title {
   text-align: start;
   width: 200px;
  }

  .Demographics_graph {
    width: 280px;
    height: 300px;
  }

  .Graph {
    width: 280px;
    height: 300px;
  }

  .Demographics_graph_results {
    left: 150px;
    top: 70px;
  }

  .confidence_results {
    top: 657px;
    left: 0px;
    width: 290px;
    height: 335px;
  }

  .confidence_results {
    top: 657px;
    left: 0px;
    width: 290px;
    height: 335px;
  }

  .confidence_box,
  .confidence_tag_rectangle, 
  .confidence_tag_box {
    width: 290px;
  }

  .aiConfidence_text {
    left: 160px;
  }

  .confidence_box{
    height: 335px;
  }

  .selectionText {
   left: 60px;
   top: 65px;
 }

  #frame13 .Auto_layout_back_button-icon-text-shrunk {
    top: 700px;
    left: 30px;
  }

  #frame13 .Auto_layout_proceed_button-icon-text-shrunk {
    left: 290px;
    top: 1283px;
  }
}

@media (max-width: 320px) {
  .line-l, .line-r, .Preview, 
  .Preview-text, .Preview-border, .Preview-img {
    display: none;
  }
  
  .image-l {
    position: absolute;
    left: 100px;
    top: 160px;
  }

  .image-r {
    position: absolute;
    left: 90px;
    top: 410px;
  }

  .Loading2 {
    font-size: 32px;
    position: relative;
    top: -200px;
    text-align: center;
    left: 5px;
  }

  .Analysis {
    top: 50px;
    left: -105px;
  }

  .Analysis_text{
    left: 90px;
  }

  .Demographics_title {
    left: 40px;
  }

  .Predicted_text {
    left: 70px
  }

  .Demographics_box {
    top: 100px;
    left: 20px;
  }

  .Demographics_rectangle_results {
    width: 250px;
  }

  .Demographics_rectangle_box {
    width: 250px;
  }

  .Demographics_graph {
    width: 250px;
  }

  .Graph {
    width: 250px;
  }

  .Demographics_graph_results {
    left: 140px;
  }

  .confidence_box,
  .confidence_tag_rectangle, 
  .confidence_tag_box {
    width: 250px;
  }

  .aiConfidence_text {
    left: 120px;
  }

  .selectionText {
   left: 5px;
 }

 #frame12 .Auto_layout_back_button-icon-text-shrunk {
    left: 35px;
  }

  #frame13 .Auto_layout_proceed_button-icon-text-shrunk {
    left: 190px;
    top: 1283px;
  }

}