@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body, html {
  overflow-x: hidden;
}

#frame1, #frame6 {
  background: #FFFFFF;
}

a {
  text-decoration: none;
}

.SkinstricP {
  width: 300px;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  text-transform: uppercase;
  color: #1A1B1C;
}

.Sophisticated_skincare {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 100px;
  line-height: 120px;
  letter-spacing: -0.07em;
  width: 1px;
  text-align: center;
  color: #1A1B1C;
  animation: fadefromup 1s ease-out;
}

@keyframes fadefromup {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.header2 {
  display: flex;
  justify-content: center;
  margin-left: 8%;
}

.Skinstric {
  margin-right: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #1A1B1C;
}

.Auto_layout_introplacer {
  display: flex;
  gap: 6px;
}

.Rectangle6 {
  box-sizing: border-box;
  width: 4px;
  height: 17px;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #1A1B1C;
  border-radius: 2px;
  transform: rotate(180deg);
}

.Intro {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
  opacity: 0.6;
}

.button-code {
  display: flex;
  justify-content: end;
  margin-right: 11%;
}

.Auto_layout_center_button-simple {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  background: #1A1B1C;
}

.Button_enter {
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FCFCFC;
}

.Rectangle8 {
  box-sizing: border-box;
  width: 4px;
  height: 17px;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #1A1B1C;
  border-radius: 2px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.Rectangle2,
.Rectangle10 {
  position: absolute;
  width: 602px;
  height: 602px;
  opacity: 0.6;
  border: 2px solid #A0A4AB;
  transform: rotate(-45deg);
}

.Rectangle10 {
  left: -300px;
}

.Rectangle2 {
  right: -300px;
}

.Rectanglehandlerright {
  display: flex;
  margin-right: 10px;
  transform: rotate(-45deg);
}

.Rectanglehandlerleft {
  display: flex;
  margin-left: 10px;
  transform: rotate(-45deg);
}

.Auto_layout_button-icon-text-shrunk,
.Auto_layout_test_button-icon-text-shrunk {
  display: flex;
  align-items: center;
  transition: opacity 0.5s ease;
}

.Rectangle16-L, .Rectangle16-R,
.Rectangle17-L, .Rectangle17-R {
  box-sizing: border-box;
  width: 31px;
  height: 31px;
  border: 1px solid #1A1B1C;
}

.Polygon1-L, .Polygon1-R {
  position: absolute;
  width: 9.43px;
  height: 10.89px;
  background: #1A1B1C;
}

.Polygon1-L {
  left: 9px;
  top: 9px;
  transform: rotate(-45deg);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.Polygon1-R {
  left: 12px;
  top: 11px;
  transform: rotate(135deg);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.discoverai, .Taketest {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
  opacity: 0.7;
}

.start_analysis {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 18%;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.rombuses {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 560px;
}

#frame1 .rombuses {
  justify-content: center;
}

.Rectangle18,
.Rectangle10-2,
.Rectangle17-2 {
  position: absolute;
  border: 2px dashed #A0A4AB;
  animation: spin 30s linear infinite;
  pointer-events: none;
}

.Rectangle18 {
  width: 300.78px;
  height: 320.99px;
  animation-duration: 15s;
}

.Rectangle10-2 {
  width: 404.78px;
  height: 420.99px;
  opacity: 0.9;
  animation-duration: 20s;
}

.Rectangle17-2 {
  width: 504.78px;
  height: 520.99px;
  opacity: 0.6;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.click_to_type1,
.click_to_type2 {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
  opacity: 0.4;
}

.yourname, .yourcity {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: -0.07em;
  color: #1A1B1C;
}

.yourname, .yourcity {
  font-size: 45px;
}

.Line1, .Line2 {
  height: 1px;
  background: #1A1B1C;
  opacity: 1;
}

.input {
  background: transparent;
  border: none;
  font-size: inherit;
  outline: none;
  color: #1A1B1C;
  text-align: center;
}

.Auto_layout_back_button-icon-text-shrunk {
  display: flex;
  align-items: center;
  transition: opacity 0.5s ease;
}

.back-button-wrapper {
  position: relative;
  top: 45%;
  right: 4%;
}

.forward-button-wrapper {
  position: relative;
  top: 45%;
  left: 4%;
}

#frame1 .forward-button-wrapper {
  left: 6%;
}

.Ttest-button-wrapper {
  position: relative;
  top: 2%;
  left: 450%;
  z-index: 10;
}

.dicover-button-wrapper {
  position: relative;
  right: 38%;
  z-index: 10;
}

.Rectangle16-b, .Rectangle17-b {
  box-sizing: border-box;
  width: 31px;
  height: 31px;
  border: 1px solid #1A1B1C;
}
  
.Polygon2-b, .Polygon2-p {
  position: absolute;
  width: 9.43px;
  height: 10.89px;
  background: #1A1B1C;
}

.Polygon2-b {
  left: 9px;
  top: 9px;
  transform: rotate(-45deg);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.Polygon2-p {
  left: 12px;
  top: 11px;
  transform: rotate(135deg);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.Back {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;    
  color: #1A1B1C;
  opacity: 0.7;
  margin-left: 5px
}

.Next, .Loading {    
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: -0.07em;
  text-align: center;
  color: #1A1B1C;
}

.Auto_layout_proceed_button-icon-text-shrunk {
  display: flex;
  align-items: center;
  transition: opacity 0.5s ease;
}

.Rectangle16-p, .Rectangle17-p {
  box-sizing: border-box;
  width: 31px;
  height: 31px;
  border: 1px solid #1A1B1C;
}

.Proceed {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
  opacity: 0.7;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.none {
  display: none;
}


@media (max-width: 2560px) {

  .Rectangle2 {
    right: -450px;
  }

  .Rectangle10 {
    left: -450px;
  }

  .Ttest-button-wrapper {
    top: 2%;
    left: 760%;
  }

  .dicover-button-wrapper {
    right: 42%;
  }
}

@media (max-width: 1600px) {

  .Ttest-button-wrapper {
    top: 2%;
    left: 450%;
  }

  .dicover-button-wrapper {
    right: 38%;
  }
}

@media (max-width: 1440px) {
  .Ttest-button-wrapper {
    top: 2%;
    left: 390%;
  }

  .dicover-button-wrapper {
    right: 37%;
  }
}

@media (max-width: 1024px) {
  .start_analysis {
    width: 22%;
  }

  .Rectangle10 {
    left: -490px;
  }

  .Rectangle2 {
    right: -500;
  }

  .Ttest-button-wrapper {
    top: 2%;
    left: 230%;
  }

  .dicover-button-wrapper {
    right: 32%;
  }

}

@media (max-width: 768px) {
  #frame1, #frame6 {
    padding: 20px;
  }


  .header1 {
    align-items: center;
    justify-content: space-around;
  }

  .Skinstric {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 8px;
  }

  .SkinstricP {
    line-height: 18px;
    text-align: center;
  }

  #frame1 .forward-button-wrapper {
    left: 35%;
  }

  .Sophisticated_skincare {
    font-size: 40px;
    line-height: 48px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }

  .Auto_layout_center_button-simple {
    padding: 6px 12px;
  }

  .Rectangle10,
  .Rectangle2,
  .discoverai,
  .Rectangle16-L,
  .Rectangle17-L,
  .Polygon1-L {
    display: none;
  }

  .Ttest-button-wrapper {
    left: 0;
  }

  .rombuses {
    flex-direction: column;
    justify-content: center;
    transform: rotate(0deg);
    padding: 20px 0;
  }

  .Rectangle10-2 {
    width: 404.78px;
    height: 420.99px;
    opacity: 0.6;
    border: 2px dashed #A0A4AB;
  }

  .Rectangle17-2 {
    width: 504.78px;
    height: 520.99px;
    opacity: 0.3;
    border: 2px dashed #A0A4AB;
  }
  
  .Rectangle18 {
    width: 300.78px;
    height: 320.99px;
    border: 2px dashed #A0A4AB;
  }

  .Taketest {
    font-size: 16px;
    width: auto;
    text-align: center;
  }

  .start_analysis {
    align-items: center;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
  }

  .yourname,
  .yourcity {
    font-size: 28px;
    line-height: 36px;
  }

  .Line1 {
    width: 70%;
    margin: 0px auto 10px auto;
  }

  .Line2 {
    width: 80%;
    margin: 0px auto 10px auto;
  }

  .input {
    width: 100%;
    text-align: center;
  }

  .Next,
  .Loading {
    font-size: 24px;
    line-height: 30px;
    margin: 10px auto;
  }

  .Back,
  .Proceed {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  #frame1 .hidden {
    opacity: 1;
  }

  #frame6 .forward-button-wrapper {
    top: 24%;
    left: 28%;
  }

  #frame6 .back-button-wrapper {
    right: 28%;
  }

   #frame6 .hidden {
    display: none;
  }
}

@media (max-width: 425px) {
  #frame1, #frame6 {
    padding: 10px;
  }


  .header1 {
    align-items: center;
    justify-content: space-around;
  }

  .Skinstric {
    font-size: 12px;
    text-align: center;
  }

  .SkinstricP {
    line-height: 16px;
    text-align: center;
  }

  .Sophisticated_skincare {
    font-size: 25px;
    text-align: center;
    margin: 16px 0;
  }

  .Auto_layout_center_button-simple {
    padding: 4px 10px;
    font-size: 12px;
    margin: 10px auto;
  }

  .Rectangle10,
  .Rectangle2,
  .discoverai,
  .Rectangle16-L,
  .Rectangle17-L,
  .Polygon1-L {
    display: none;
  }

  .rombuses {
    flex-direction: column;
    justify-content: center;
    transform: rotate(0deg);
    padding: 10px 0;
    width: 100%;
  }

  .Rectangle10-2 {
    width: 300px;
    height: 320px;
    opacity: 0.6;
    border: 2px dashed #A0A4AB;
  }

  .Rectangle17-2 {
    width: 350px;
    height: 360px;
    opacity: 0.3;
    border: 2px dashed #A0A4AB;
  }

  .Rectangle18 {
    width: 240px;
    height: 260px;
    border: 2px dashed #A0A4AB;
  }

  .Taketest {
    font-size: 14px;
    width: auto;
    text-align: center;
    margin: 6px auto;
  }

  .start_analysis {
    font-size: 12px;
    text-align: center;
    margin: 8px 0;
  }

  .Next,
  .Loading {
    font-size: 18px;
    line-height: 24px;
    margin: 8px auto;
  }

  .Back,
  .Proceed {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  #frame6 .forward-button-wrapper {
    top: 27.5%;
  }
  #frame1 .forward-button-wrapper {
  left: 19%;
}


}