@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {font-family: 'Roboto';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#frame9, #frame12, #frame13 {
  background: #FFFFFF;
}

.together {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 560px;
}

.Scan, .Gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rombuses-l {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 560px; 
}
    
.Rectangle18-l, .Rectangle18-r{
  width: 148px;
  height: 148px;
  animation: spin 10s linear infinite
}

.Rectangle10-l, .Rectangle10-r {
  width: 181px;
  height: 181px;
  opacity: 0.6;
  animation: spin 20s linear infinite
}

.Rectangle17-l, .Rectangle17-r {
  width: 213px;
  height: 213px;
  opacity: 0.3;
  animation: spin 30s linear infinite
}

 @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Rectangle10-l, .Rectangle10-r,
.Rectangle17-l, .Rectangle17-r,
.Rectangle18-l, .Rectangle18-r {
  position: absolute;
  border: 2px dashed #A0A4AB;
  pointer-events: none;

}

.line-l {
  display: flex;
  margin-bottom: 30%;
}
    
.img-l {
  display: flex;
  margin-left: 6%;
}

.AccessScantext, .AccessGallerytext {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.07em;
  text-transform: uppercase;   
  color: #1A1B1C;
}

.AccessGallerytext {
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
  justify-self: end;
}

.line-r {
  display: flex;
  margin-top: 38%
}

.img-r {
  display: flex;
  margin-right: 4%;
}

.rombuses-r {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 560px;
}

.Preview {
  position: relative;
  bottom: 30%;
}

.Preview-text {
  display: flex;
  align-items:center;
  justify-content: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.Preview-border, .Preview-img {
  box-sizing: border-box;
  width: 128px;
  height: 128px;
}

.Preview-border {
  border: 1px solid #1A1B1C;
}

.Loading2 {    
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: -0.07em;
  text-align: center;
  color: #1A1B1C;   
}

.AI_Analysis {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.AI_text {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1A1B1C;
}

.Polygon2-s, .Polygon2-h{
  position: absolute;
  left: 11px;
  top: 12px;
  width: 12px;
  height: 11px;
  background: #1A1B1C;
  transform: rotate(135deg);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.Auto_layout_summary_button-icon-text-shrunk {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Analysis_header { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Analysis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 550px;
  position: relative;
  left: 1%;
}

.Demograpghics_option, .Skin_Type_option,
.Cosmetic_Concerns_option, .Weather_option {
  display: flex;
  width: 120px;
  height: 120px;
  background: #F3F3F4;
}

.Analysisdiamond {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diamond {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  font-weight: bold;
  color: black;
  text-align: center;
}

.diamond-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 65px;
}

.diamond-horizontal {
  position: relative;
}

.diamond span {
  transform: rotate(-45deg);
  display: inline-block;
}

.AnalysisN {
  animation: flyInTop 0.8s ease-out forwards;
  transform: rotate(-45deg);
  top: 8%;
}

.AnalysisN :hover{
  background-color: #E1E1E2;
}

.AnalysisW {
  animation: flyInLeft 0.8s ease-out forwards;
  transform: rotate(-45deg);
  
}

.AnalysisE {
  animation: flyInRight 0.8s ease-out forwards;
  transform: rotate(-45deg);
}

.AnalysisS {
  animation: flyInBottom 0.8s ease-out forwards;
  transform: rotate(-45deg);
  bottom: 8%;
}

@keyframes flyInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flyInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes flyInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes flyInBottom {
   0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Demograpghics_option {
  cursor: pointer;
}

.Skin_Type_option, .Cosmetic_Concerns_option,
.Weather_option, .Skin_Type_text, .Cosmetic_Concerns_text,
.Weather_text{
  cursor: not-allowed;
}

#frame12 .proceed {
  font-size: 0px;
}

.apart {
  display: flex;
  gap: 200px;
}

#frame9 .back-button-wrapper {
  right: 0;
}

.selectiontop {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 8%;
}

.Analysis_text {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.Demographics_title {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.Predicted_text {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1A1B1C;
}

.Demographics_box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.Analysis_results {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.race_rectangle, .age_rectangle, .gender_rectangle  {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 105px;
  border-top: 1px solid #1A1B1C;
  cursor: pointer;
}

.race, .race_text, .age, .age_text
.gender, .gender_text{
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.selected.race_results,
.selected.age_results,
.selected.gender_results {
  background-color: #1A1B1C;
  color: white;
}

.Demographics_rectangle_results {
  display: flex;
  justify-content:space-evenly
}

.Demographics_rectangle_box {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 760px;
  background: #F3F3F4;
  border-top: 1px solid #1A1B1C;
}

.Demographics_rectangle_title {
  font-weight: 300;
  font-size: 32px;
  margin-top: 2%;
  margin-left: 2%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.progress-ring-container {
  position: relative;
  width: 410px;
  height: 410px;
}

.Graph { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring {
  transform: rotate(-90deg);
  box-sizing: border-box;
  width: 410px;
  height: 410px;
}

.progress-ring__background,
.progress-ring__circle {
  transition: stroke-dashoffset 0.6s ease;
  background: transparent;

}

.Demographics_graph_results {
  display: flex;
}

.Demographics_graph_results_text {
  width: 80px;
  height: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.05em;
  color: #1A1B1C;
}

.confidence_results {
  display: flex;
}

.confidence_box {
  box-sizing: border-box;
  width: 350px;
  height: 430px;
  background: #F3F3F4;
  border-top: 1px solid #000000;
}

.confidence_tag_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  background: #F3F3F4;
}

.confidence_catagory {
  margin-left: 3%;
}

.aiConfidence_text {
  margin-right: 3%;
}

.confidence_tag {
  padding-top: 20px;
}

.confidence_catagory {
  display: flex;
  font-weight: 300;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.05em;
  color: #1A1B1C;
  text-transform: uppercase;
}

.aiConfidence_text {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
}

.confidence-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.confidence-row.selected {
  background-color: black;
  color: white;
  font-weight: bold;
}

.confidence_text {
  text-transform: uppercase;
}

.selectionText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #A0A4AB;
}

.selectionfooter {
  margin-bottom: 5px;
}

@media (max-width: 1440px) {
  #frame9 .back-button-wrapper {
    right: 0;
  }
}

@media (max-width: 1024px) {
  .float-info-box {
    margin-top: 30%;
  }

  .AccessScantext, .AccessGallerytext {
    width: 73px;
  }

  .progress-ring {
    margin-top: 0;
    margin-left: 0;
  }

  .Demographics_box {
    flex-direction: column;
  }
  
  .Analysis_results {
    margin-top: 2%;
    flex-direction: row; 
    justify-content: center;
  }
  
  .confidence_results {
    display: flex;
    justify-content: center;
  }
}


@media (max-width: 768px) {
  .Preview {
    bottom: 35%;
    right: 47%;
  }
  
  .selectionfooter, .selectiontop {
    flex-direction: column;
    gap: 10px;
  }

  #frame9 .back-button-wrapper {
    top: 40%;
    left: 45%;
  }

  #frame12 .back-button-wrapper {
    top: 110%;
    right: 30%;
  }

  #frame12 .forward-button-wrapper {
    top: 14%;
    left: 30%;
  }

  .Analysis {
    left: 0;
  }

}

@media (max-width: 425px) {
  #frame13 {
    overflow-y: scroll;
  }

  .Preview, .Preview-text, .Preview-border, .Preview-img {
    display: none;
  }

  .together {
    flex-direction: column;
  }
  
  .rombuses-l {
    height: 250px; 
  }

  .rombuses-r {
    height: 250px;
  }

  .diamond-row {
    flex-direction: column;
  }

  .Analysisdiamond {
    gap: 65px;
    margin-top: 40px;
  }

  .AnalysisN {
    top: 0%;
  }

  .AnalysisS {
    bottom: 0%;
  }

  #frame12 .Rectangle18,
  #frame12 .Rectangle10-2,
  #frame12 .Rectangle17-2 {
    display: none;
  }

  .apart {
    gap: 150px;
  }

  .Analysis_results {
    flex-direction: column;
  }

  .Demographics_title {
    font-size: 50px;
  }

  .Demographics_rectangle_box {
    flex-direction: column;
  }

  .Demographics_rectangle_title {
    text-align: center;
  }

  .Demographics_rectangle_results {
    justify-content: center;
  }
  
  #frame9 .back-button-wrapper {
    top: 0;
    left: 0;
  }
  
  #frame12 .back-button-wrapper {
    top: 175%;
  }

  #frame12 .forward-button-wrapper {
    top: 67.5%;
    left: 24%;
  }
  
}

@media (max-width: 320px) {
  .AccessScantext, .AccessGallerytext {
    width: 55px;
  }
  
  .AccessGallerytext {
    display: contents;
  }

  .apart {
    gap: 50px;
  }

  .Demographics_title {
    font-size: 40px;
  }


}