@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {font-family: 'Roboto';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#frame1{
    position: relative;
    width: 1600px;
    height: 770px;
    background: #FFFFFF;
    overflow: hidden;
}

.SkinstricP{
    position: absolute;
    width: 316px;
    height: 72px;
    left: 40px;
    top: 650px;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
    text-transform: uppercase;
    color: #1A1B1C;
}


.Sophisticated_skincare {
    position: absolute;
    width: 673px;
    height: 165px;
    left: 450px;
    top: 290px;
    font-weight: 400;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    letter-spacing: -0.07em;
    color: #1A1B1C;
}    

.header1 {
    position: absolute;
    width: 1600px;
    height: 59px;
    left: 0px;
    top: 0px;
}

.Rectangle5 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FCFCFC;
} 


.Skinstric {
    position: absolute;
    left: 6.5%;
    top: 4.5%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #1A1B1C;
}

.location {
    position: absolute;
    width: 61px;
    height: 17px;
    left: 50px;
    top: 12px;
    opacity: 0.6;
}

.Auto_layout_introplacer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;   
    position: absolute;
    width: 61px;
    height: 17px;
    left: 117px;
    top: 23px;
}

.Rectangle6 {
    box-sizing: border-box;
    width: 4px;
    height: 17px;    
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #1A1B1C;
    border-radius: 2px;
    transform: rotate(180deg);
}
    
.Inside_auto_layout1 {
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Intro {
    width: 41px;
    height: 16px;    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-transform: uppercase;   
    color: #1A1B1C;
}

.Inside_auto_layout2{
    flex: none;
    order: 1;
    flex-grow: 0;
}


.Rectangle8 {
    box-sizing: border-box;
    width: 4px;
    height: 17px;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #1A1B1C;
    border-radius: 2px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.Inside_auto_layout3{
    flex: none;
    order: 2;
    flex-grow: 0;
}


.Auto_layout_center_button-simple {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    position: absolute;
    width: 92px;
    height: 32px;
    left: 1425px;
    top: 28px;
    background: #1A1B1C;
}

.Button_enter{
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-transform: uppercase;    
    color: #FCFCFC;
}
    
.Button_code{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #1A1B1C;
    opacity: 0.7;
}

.Rectangle2{
    position: absolute;
    width: 462px;
    height: 462px;
    left: 1369px;
    top: 150px;
    opacity: 0.6;   
    border: 2px solid #A0A4AB;
    transform: rotate(-45deg);

}

.Rectangle10{
    position: absolute;
    width: 462px;
    height: 462px;
    left: -250px;
    top: 150px;
    opacity: 0.6;   
    border: 2px solid #A0A4AB;
    border-radius: 0px;
    transform: rotate(-45deg);
}

.Auto_layout_button-icon-text-shrunk{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 200px;
    height: 44px;
    left: 87px;
    top: 360px;
}

.discoverai{
    width: 130px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #1A1B1C;
    opacity: 0.7;
}

.Rectanglehandler, .Rectanglehandler2{    
    width: 44px;
    height: 44px;
}

.Rectangle16-l{
    box-sizing: border-box;
    position: absolute;
    width: 31px;
    height: 31px;
    left: 7px;
    top: 7px;   
    border: 1px solid #1A1B1C;
    transform: rotate(-45deg);
}


.Rectangle17-l{
    box-sizing: border-box;
    position: absolute;
    width: 31px;
    height: 31px;
    left: 7px;
    top: 7px;   
    border: 1px solid #1A1B1C;
    transform: rotate(-45deg);
}
    
    
.Rectangle13-l{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 15px;
    top: 15px;
    transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
}


.Polygon1-l{
    position: absolute;
    width: 9.43px;
    height: 10.89px;
    left: 16px;
    top: 17px;   
    background: #1A1B1C;
    transform: rotate(-90deg);
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.Auto_layout_center_button-icon-text-shrunk {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;    
    position: absolute;
    width: 145px;
    height: 44px;
    left: 1383px;
    top: 367px;
}

.Taketest{
    position: absolute;
    width: 99px;
    height: 16px;
    left: -50px;
    top: 7px;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #1A1B1C;
    opacity: 0.7;
}

.Rectanglehandler {
    left: 101px;
    top: 0px;
}

.Rectangle16-r {
    box-sizing: border-box;
    position: absolute;
    width: 31px;
    height: 31px;
    left: 66px;
    top: 0px;
    border: 1px solid #1A1B1C;
    transform: rotate(-45deg);   
}

.Rectangle17-r {
    box-sizing: border-box;
    position: absolute;
    width: 31px;
    height: 31px;
    left: 66px;
    top: -1px;    
    border: 1px solid #1A1B1C;
    transform: rotate(-45deg);
}

.Rectangle13-r {        
    position: absolute;
    width: 15px;
    height: 15px;
    left: 74px;
    top: 6px; 
    transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);

}

.Polygon1-r {
    position: absolute;
    width: 9.43px;
    height: 10.89px;
    left: 79px;
    top: 9px;
    background: #1A1B1C;
    transform: rotate(90deg);
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);

}

.start_analysis {   
    position: absolute;
    width: 227px;
    height: 23px;
    left: 105px;
    top: 79px;    
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #1A1B1C;    
}


.rombuses {
    position: absolute;
    width: 495px;
    height: 501px;
    left: 532px;
    top: 95px;
    transform: rotate(-45deg);

}

.Rectangle18 {
    position: absolute;
    width: 300.78px;
    height: 320.99px;
    top: 30%;
    left: 20%;
    border: 2px dashed #A0A4AB;
}


.Rectangle10-2 {
    position: absolute;
    width: 404.78px;
    height: 420.99px;
    top: 20%;
    left: 10%;
    opacity: 0.6;
    border: 2px dashed #A0A4AB;
    border-radius: 0px;
}

.Rectangle17-2 {
    position: absolute;
    width: 504.78px;
    height: 520.99px;
    top: 10%;
    left: 0%;
    opacity: 0.3;
    border: 2px dashed #A0A4AB;
}

.IntroduceYourself {   
    width: 350px;
    height: 56.67px;
    left: 625px;
    top: 359.33px;
}

.click_to_type1 {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #1A1B1C;   
    opacity: 0.4;
}

.click_to_type2 {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #1A1B1C;
    opacity: 0.4;
}

.yourname{    
    position: absolute;
    left: 39.05%;
    right: 35.44%;
    top: 45%;
    font-weight: 300;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: -0.07em;
    color: #1A1B1C;   
}
.yourcity {
    position: absolute;
    left: 38.19%;
    right: 34.69%;
    top: 45.7%;
    font-weight: 300;
    font-size: 45px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.07em;
    color: #1A1B1C;
}

.Line1 {
    position: absolute;
    left: 39.4%;
    right: 35.56%;
    top: 53.9%;
    bottom: 45.97%;
    background: #1A1B1C;
}

.Line2 {
    position: absolute;
    left: 39%;
    right: 35.35%;
    top: 54.29%;
    bottom: 45.58%;
    background: #1A1B1C;
}

.input {
  background: transparent;
  border: none;
  font-size: inherit;
  width: 100%;
  outline: none;
  color: #1A1B1C;
  text-align: center;
}

.Next{    
    position: absolute;
    left: 39%;
    right: 36.44%;
    top: 41%;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: -0.07em;
    text-align: center;
    color: #1A1B1C;   
}

.Loading {    
    position: absolute;
    left: 39%;
    right: 36.5%;
    top: 45%;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: -0.07em;
    text-align: center;
    color: #1A1B1C;   
}

.Auto_layout_back_button-icon-text-shrunk {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: absolute;
    left: 100px;
    top: 658px;
}

.Rectangle16-b {
    box-sizing: border-box;
    position: absolute;
    width: 31px;
    height: 31px;
    left: 0px;
    top: 8px; 
    border: 1px solid #1A1B1C;
    transform: rotate(-45deg);   
}
    
.Rectangle17-b {
    box-sizing: border-box;
    position: absolute;
    width: 31px;
    height: 31px;
    left: 0px;
    top: 8px;    
    border: 1px solid #1A1B1C;
    transform: rotate(-45deg);
}


.Rectangle13-b {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 8px;
    top: 16px;    
    transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
}

.Polygon2-b {
    position: absolute;
    width: 9.43px;
    height: 10.89px;
    left: 9px;
    top: 18px;
    background: #1A1B1C;
    transform: rotate(-90deg);
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);

}

.Back {
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-transform: uppercase;    
    color: #1A1B1C;
    opacity: 0.7;
}

.Auto_layout_proceed_button-icon-text-shrunk {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: absolute;
    left: 1380px;
    top: 656px;
}

.Rectangle16-p {
    box-sizing: border-box;
    position: absolute;
    width: 31px;
    height: 31px;
    top: 7px; 
    border: 1px solid #1A1B1C;
    transform: rotate(-45deg);
}


.Rectangle17-p {
    box-sizing: border-box;
    position: absolute;
    width: 31px;
    height: 31px;
    top: 7px;
    border: 1px solid #1A1B1C;
    transform: rotate(-45deg);
}

.Rectangle13-p {
    box-sizing: border-box;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 103px;
    top: 15px;
    transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
}

.Polygon2-p {
    position: absolute;
    width: 9.43px;
    height: 10.89px;
    left: 108px;
    top: 17px;
    background: #1A1B1C;
    transform: rotate(90deg);
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.Proceed {
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1A1B1C;
  opacity: 0.7;
}